.timeline {
  border-left: 1px dashed rgba(0,0,0,0.2);
  list-style-type: none;
  margin: -1rem 0 0 0;
  padding: 1rem 0 0 0;

  li {
    margin-bottom: 1.875rem;
    padding-left: 20px;
    .date {
      border: 1px dashed rgba(0,0,0,0.2);
      border-radius: 2em;
      display: inline-block;
      font-family: $FONT_SECONDARY;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-bottom: 0.9rem;
      padding: 0.5rem 1rem;
      position: relative;
      text-transform: uppercase;
      &::after {
        background-color: $COLOR_BLACK;
        border-radius: 100%;
        content: '';
        height: 5px;
        left: -24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
      }
      &::before {
        border-top: 1px dashed rgba(0,0,0,0.2);
        content: '';
        height: 1px;
        left: -20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
      }
    }
    h5 {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0.5rem;
    }
    .company {
      line-height: 1;
      margin-bottom: 0.9rem;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}