@import './components/title';
@import './components/avatar';
@import './components/timeline';

.container {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  width: 960px;
  min-height: 100%;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}

.sidebar {
  display: inline-flex;
  flex-direction: column;
  padding: 0 1.5rem;
  width: 25%;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin-bottom: 1.5rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: none;
    }
  }
}

.content {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  padding: 0 1.5rem;
  width: 75%;
}

.mb24 {
  margin-bottom: 1.5rem;
}

.section {
  display: inline-flex;
  flex-direction: column;
  margin: 0.75rem 0;
  width: 100%;
}

.heading {
  font-family: $FONT_SECONDARY;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}
